HELP.md

### IntelliJ IDEA ###
**/.idea/
**/.mvn/
**/mvnw
**/mvnw.cmd
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

**/target/
**/.DS_Store
**/.settings/
.jsdtscope
.classpath
.project
**/*.class

/logs/

