<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaom.vhr.mapper.AppraiseMapper">
  <resultMap id="BaseResultMap" type="org.xiaom.vhr.model.Appraise">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="appDate" jdbcType="DATE" property="appdate" />
    <result column="appResult" jdbcType="VARCHAR" property="appresult" />
    <result column="appContent" jdbcType="VARCHAR" property="appcontent" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="ResultWithEmployee" type="org.xiaom.vhr.model.Appraise" extends="BaseResultMap">
    <association property="emp" javaType="org.xiaom.vhr.model.Employee">
      <id column="eid" property="id"/>
      <result column="eName" property="name"/>
    </association>
  </resultMap>
  <select id="getAppraiseWithEmpByPage" resultMap="ResultWithEmployee">
    select app.*, e.name as eName
    from appraise app, employee e
    where app.eid = e.id
    <if test="empName != null">
        and e.name like concat('%', #{empName}, '%')
    </if>
    <if test="beginDateScope != null">
        and app.appDate between #{beginDateScope[0]} and #{beginDateScope[1]}
    </if>
    <if test="page != null and size != null">
      limit #{page}, #{size}
    </if>
    order by app.appDate desc
  </select>

  <select id="getTotal" resultType="java.lang.Long">
    select count(1)
    from appraise app, employee e
    where app.eid = e.id
    <if test="empName != null">
      and e.name like concat('%', #{empName}, '%')
    </if>
    <if test="beginDateScope != null">
      and app.appDate between #{beginDateScope[0]} and #{beginDateScope[1]}
    </if>
  </select>
  <insert id="insert" parameterType="org.xiaom.vhr.model.Appraise">
    insert into appraise (id, eid, appDate, 
      appResult, appContent, remark
      )
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{appdate,jdbcType=DATE}, 
      #{appresult,jdbcType=VARCHAR}, #{appcontent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.xiaom.vhr.model.Appraise">
    insert into appraise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="appdate != null">
        appDate,
      </if>
      <if test="appresult != null">
        appResult,
      </if>
      <if test="appcontent != null">
        appContent,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="appdate != null">
        #{appdate,jdbcType=DATE},
      </if>
      <if test="appresult != null">
        #{appresult,jdbcType=VARCHAR},
      </if>
      <if test="appcontent != null">
        #{appcontent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>