<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaom.vhr.mapper.EmpSalaryMapper">
  <resultMap id="BaseResultMap" type="org.xiaom.vhr.model.EmpSalary">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
  </resultMap>
  <insert id="insert" parameterType="org.xiaom.vhr.model.EmpSalary">
    insert into empsalary (id, eid, sid)
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.xiaom.vhr.model.EmpSalary">
    insert into empsalary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="sid != null">
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>